.FilesDownloadSection{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;

}

.round{
    background-color: white;
    border-radius:20px;
    margin-left: 10px;
    color: #365EBF;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    text-decoration: none;
    padding: 9px 12px 10px 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
}